Requirements - Flight Analyser 1CW100 Adv Prog Y2:
-------------------------------------------------
                                  ----------
Database table creation to spec.  - Met. 
                                  ----------
CSV import 10,000 row update.     - Partly Met/Expanded. 100,000 and with an ETA. 
                                  ----------
Invalid data skip                 - Met. A few select fields empty checked. Flight number, date, origin, departure time and arrival time must not be empty.
                                  ----------
No additional libraries           - Met. 
                                  ----------
Basic search                      - Met. 
                                  ----------
	[date, date range, airport, airline (code or name),delay reason and length & a combination thereof]
                                  ----------
Clicking of row expansion/popup.  - Met. Not "all information" but a breakdown of "departure delay" and "arrival delay" and "adjustment due to flight" (e.g. did the flight save or cause a delay). 
                                  ----------
Analysis                          - Partly Met/Met. Extensive analysis on Airports taking 30 secs to run but in tabular form not graphical apart from a singular pie chart for delay reason. 
                                  ----------
Ease of use                       - Subjectively Met. Alpha testing had no feedback regarding non-understanding of features. 
						      (alpha testing = single colleague/friend having a courteous play). 
                                  ----------
8th May Release                   - Not Met. Evidenced 10-day extension taken (not lightly) after seeking guidance from skills coach and line manager. Broken version submitted 8th/10th. 
                                  ----------
Code Subsection :
------------
	Manual calculation of delay not used. Used the delay data from csv after sample sized verification it matches anyway.
	Classes and DAO used. 


